
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: .3em;
  height: 0em;
  background: #ffffff;

}

::-webkit-scrollbar-thumb {
  background: #2a6fee;
  border-radius: 10px;
}

.invalid {
  border-color: red;
}

.nav-btn-color{
width: 100%;
  background: white;
  color: #2a6fee;
}
